[submodule "lib/classic"]
	path = lib/classic
	url = https://github.com/Sheepolution/classic.git
[submodule "lib/input"]
	path = lib/input
	url = https://github.com/xiejiangzhi/input.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/Moses"]
	path = lib/moses
	url = https://github.com/Yonaba/Moses.git
[submodule "lib/push"]
	path = lib/push
	url = https://github.com/Ulydev/push.git
	branch = dev
[submodule "lib/windfield"]
	path = lib/windfield
	url = https://github.com/idbrii/love-windfield.git
[submodule "lib/utf8"]
	path = lib/utf8
	url = https://gist.github.com/9d1f7463c207b7b6c7d28aefec7f5c2d.git
